<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{fragments/page-settings :: head}"></head>

<body>

	<header th:replace="~{fragments/page-settings :: header('tickets')}">

	</header>

	<main>

		<div class="container">
			<div class="row justify-content-center">
				<h1 class="text-center mb-3">Ticket Creation</h1>
				<hr>
				<form id="ticketform" method="POST" th:action="@{/tickets/create}" th:object="${ticket}">
					<div class="form-group mb-2">
						<label for="inputTitle ms-2"><b>Title: </b></label>
						<input type="text" class="form-control" id="inputTitle" aria-describedby="emailHelp"
							placeholder="Insert text..." th:field="*{title}">
						<small id="inputTitleHelp" class="form-text text-muted ms-3">Try to be clear in your
							explanation.</small>
						<ul th:if="${#fields.hasErrors()}" class="text-danger mt-2 ps-4">
							<li th:each="err : ${#fields.errors('title')}" th:text="${err}" class="error " />
						</ul>
					</div>
					<hr>
					<div class="form-check1 mb-2">
						<label for="form-check1 me-2"><b>Select Statement: </b></label>
						<th:block th:each="state : ${states}">
							<input class="form-check-input" type="radio" th:name="|flexRadio_${state}|"
								th:id="|flexRadio_${state}|" th:value="${state}" th:field="${ticket.state}">
							<label class="form-check-label me-2" th:for="|flexRadio_${state}|">
								[[${state}]]
							</label>
						</th:block>
					</div>
					<hr>
					<div class="form-check2 mb-2">
						<label for="form-check2 me-2"><b>Assign Operator: </b></label>
						<th:block th:each="user : ${availableUsers}">
							<input class="form-check-input" type="radio" th:name="|flexRadio_${user.username}|"
								th:id="|flexRadio_${user.username}|" th:value="${user.id}" th:field="${ticket.user}">
							<label class="form-check-label me-2" th:for="|flexRadio_${user.username}|">
								[[${user.username}]]
							</label>
						</th:block>
					</div>
					<hr>
					<div class="">
						<button type="submit" class="btn btn-dark">Submit</button>
						<a th:href="@{/tickets/create}" class="btn btn-dark">Reset</a>
					</div>
				</form>
			</div>
		</div>

	</main>

	<footer>

	</footer>
</body>

<th:block th:replace="~{fragments/page-settings :: scripts}"></th:block>

</html>