<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{fragments/page-settings :: head}"></head>

<body>

	<!--HEADER-->
	<header th:replace="~{fragments/page-settings :: header('tickets')}"></header>

	<!--MAIN-->
	<main>
		<div class="container">
			<div class="row justify-content-center">

				<!--TITLE-->
				<h1 class="text-center mb-3">Tickets List</h1>
				<hr>

				<!--ALERT-->
				<div th:if="${message != null}">
					<div th:replace="~{fragments/page-settings :: alert(${message}, ${class})}"></div>
				</div>

				<!--ACTION BAR-->
				<form class="d-flex ms-auto row-wrap mb-3 gap-2" th:action="@{/tickets/search/}" method="get">
					<!--ADD TICKET BUTTON-->
					<a sec:authorize="hasAuthority('ADMIN')" class="col-auto btn btn-dark" th:href="@{/tickets/create}"
						data-toggle="tooltip" title="Add Ticket">&#43; &#127915;</a>
					<!--SEARCH BAR-->
					<input class="form-control" placeholder="Insert a new ticket to search..." aria-label="Search"
						value="Search" th:field="${search.title}">
					<button class="btn btn-dark" type="submit">Search</button>
					<a class="col-auto btn btn-dark" th:href="@{/tickets}" data-toggle="tooltip"
						title="Reset Research">&#10227; Reset</a>
				</form>

				<!--CONDITION TRUE-->
				<th:block th:if="${tickets.size()} > 0">
					<!--TABLE-->
					<table class="table table-striped table-dark mb-3 cornerRound">
						<!--THEAD-->
						<thead>
							<tr>
								<th scope="col">#</th>
								<th scope="col">Title</th>
								<th scope="col">Operator</th>
								<th scope="col">Notes</th>
								<th scope="col">State</th>
								<th scope="col">Date Create</th>
								<th scope="col">Category</th>
								<th scope="col" class="text-end">Actions</th>
							</tr>
						</thead>
						<!--TBODY-->
						<tbody>
							<tr th:each="ticket : ${tickets}">
								<th scope="row" th:text="${ticket.id}"></th>
								<td th:text="${ticket.title}"></td>
								<td th:text="${ticket.user.username}"></td>
								<td th:text="${ticket.notes.size()}"></td>
								<!--switich color-->
								<th:block th:switch="${ticket.state}">
									<div th:case="'Completed'">
										<td class="text-success" th:text="${ticket.state}"></td>
									</div>
									<div th:case="'ToDo'">
										<td class="text-danger" th:text="${ticket.state}"></td>
									</div>
									<div th:case="'InProgress'">
										<td class="text-warning" th:text="${ticket.state}"></td>
									</div>
								</th:block>
								<td th:text="${ticket.getDateFormatted()}"></td>
								<td>
									<span th:each="type : ${ticket.types}">[[${type.name}]] </span>
								</td>
								<!--ACTION BUTTONS-->
								<td class="text-end">
									<!--SHOW-->
									<a th:href="@{/tickets/show/{id}(id=${ticket.id})}" class="btn btn-sm "
										data-toggle="tooltip" title="View">&#128270;</a>
									<!--ADD NOTE BUTTON-->
									<a th:href="@{/tickets/show/{id}/addnote(id=${ticket.id})}" class="btn btn-sm"
										data-toggle="tooltip" title="Add Note">&#128196;</a>
									<!--EDIT-->
									<a sec:authorize="hasAuthority('ADMIN')"
										th:href="@{/tickets/edit/{id}(id=${ticket.id})}" class="btn btn-sm ml-2"
										data-toggle="tooltip" title="Edit">&#9998;</a>
									<!--DELETE-->
									<form sec:authorize="hasAuthority('ADMIN')" class="d-inline  text-start"
										method="GET" th:action="@{/tickets/delete/{id}(id=${ticket.id})}">
										<!-- Button trigger modal -->
										<button type="button" class="btn btn-white btn-sm ml-2" data-bs-toggle="modal"
											th:data-bs-target="|#deleteModal-${ticket.id}|" data-toggle="tooltip"
											title="Delete">
											&#x1F5D1;
										</button>
										<!-- Modal -->
										<div class="modal fade" th:id="|deleteModal-${ticket.id}|" tabindex="-1"
											aria-labelledby="exampleModalLabel" aria-hidden="true">
											<div class="modal-dialog modal-dialog-centered">
												<div class="modal-content">
													<div class="justify-content-center modal-header border-dark bg-dark">
														<h1 class="modal-title fs-5" id="exampleModalLabel">
															&#x26A0;WARNING &#x26A0;
														</h1>
													</div>
													<div class="modal-body text-start bg-dark">
														Are you shure you want remove "<b>[[${ticket.title}]]</b>" ?
													</div>
													<div class="modal-footer border-dark bg-dark">
														<button type="button" class="btn btn-success"
															data-bs-dismiss="modal">Close</button>
														<button type="submit" class="btn btn-danger">Continue</button>
													</div>
												</div>
											</div>
										</div>
									</form>
								</td>
							</tr>
						</tbody>
					</table>
				</th:block>

				<!--CONDITION FALSE-->
				<th:block th:unless="${tickets.size()}">
					<h2 class="text-center">No Tickets Found</b></h2>
				</th:block>

			</div>
		</div>
	</main>

	<!--FOOTER-->
	<footer th:replace="~{fragments/page-settings :: footer}"></footer>

	<!--SCRIPTS-->
	<th:block th:replace="~{fragments/page-settings :: scripts}"></th:block>
</body>

</html>