<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{fragments/page-settings :: head}"></head>

<body>

	<header th:replace="~{fragments/page-settings :: header('tickets')}">

	</header>

	<main>
		<div class="container">
			<div class="row justify-content-center">
				<h1 class="text-center mb-3">Tickets List</h1>
				<hr>
				<!--SEARCH-->
				<form class="d-flex ms-auto row-wrap mb-3 gap-2" th:action="@{/tickets/search/}" method="get">
					<a sec:authorize="hasAuthority('ADMIN')" class="col-auto btn btn-dark" th:href="@{/tickets/create}"
						data-toggle="tooltip" title="Add Ticket">&#43; &#127915;</a>
					<input class="form-control" placeholder="Insert a new ticket to search..." aria-label="Search"
						value="Search" th:field="${search.title}">
					<button class="btn btn-dark" type="submit">Search</button>
					<a class="col-auto btn btn-dark" th:href="@{/tickets}" data-toggle="tooltip"
						title="Reset Research">&#10227; Reset</a>
				</form>
				<th:block th:if="${tickets.size()} > 0">
					<table th:fragment="table(tickets)" class="table table-striped table-dark mb-3">
						<thead>
							<tr>
								<th scope="col">#</th>
								<th scope="col">Title</th>
								<th scope="col">Operator</th>
								<th scope="col">Notes</th>
								<th scope="col">State</th>
								<th scope="col">Date Create</th>
								<th scope="col" class="text-end">Actions</th>
							</tr>
						</thead>
						<tbody>
							<tr th:each="ticket : ${tickets}">
								<th scope="row" th:text="${ticket.id}"></th>
								<td th:text="${ticket.title}"></td>
								<td th:text="${ticket.user.username}"></td>
								<td th:text="${ticket.notes.size()}"></td>
								<td th:text="${ticket.state}"></td>
								<td th:text="${ticket.getDateFormatted()}"></td>
								<td class="text-end">
									<!--SHOW-->
									<a th:href="@{/tickets/show/{id}(id=${ticket.id})}" class="btn btn-sm " data-toggle="tooltip"
										title="View">&#128270;</a>
									<!--EDIT-->
									<a sec:authorize="hasAuthority('ADMIN')" th:href="@{/tickets/edit/{id}(id=${ticket.id})}"
										class="btn btn-sm ml-2" data-toggle="tooltip" title="Edit">&#9998;</a>
									<!--DELETE-->
									<a sec:authorize="hasAuthority('ADMIN')" th:href="@{/tickets/delete/{id}(id=${ticket.id})}"
										class="btn btn-sm ml-2" data-toggle="tooltip" title="Delete">&#x1F5D1;</a>
								</td>
							</tr>
						</tbody>
					</table>
				</th:block>
				<th:block th:unless="${tickets.size()}">
					<h2 class="text-center">No Tickets Found</b></h2>
				</th:block>
			</div>
		</div>
	</main>

	<footer>

	</footer>
</body>

<th:block th:replace="~{fragments/page-settings :: scripts}"></th:block>

</html>