<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{fragments/page-settings :: head}"></head>

<body>

	<header th:replace="~{fragments/page-settings :: header('tickets')}">
	</header>

	<main>
		<div class="container">
			<div class="row justify-content-center">
				<h1 class="col-12 text-center mb-3">Ticket view</h1>
				<hr>
				<div class="col-12 text-center mb-3">
					<a class="btn btn-sm btn-dark" th:href="@{/tickets/show/{id}/addnote(id=${ticket.id})}"
						style="width: 15rem;" data-toggle="tooltip" title="Add Note">&#43;
						&#128456;</a>
					<a sec:authorize="hasAuthority('ADMIN')" class=" btn btn-sm btn-dark" style="width: 15rem;"
						th:href="@{/tickets/edit/{id}(id=${ticket.id})}" data-toggle="tooltip" title="Edit">&#9998;</a>
					<a sec:authorize="hasAuthority('ADMIN')" class="btn btn-sm btn-dark" style="width: 15rem;"
						th:href="@{/tickets/delete/{id}(id=${ticket.id})}" data-toggle="tooltip"
						title="Delete">&#x1F5D1;</a>
				</div>
				<div class="col-auto">
					<div class="card text-center" style="width: 30rem;" th:object="${ticket}">
						<div class="card-header bg-white">
							<h6 class="card-title">Operator: <span sec:authentication="name"></span></a></h6>
						</div>
						<div class="card-body">
							<h5 class="card-title">[[*{title}]]</h5>
							<p class="card-text">[[*{text}]]</p>
						</div>
						<div class="card-footer bg-white text-muted">
							<div class="row justify-content-between">
								<h6 class="col-auto">Created at: [[*{getDateFormatted()}]]</h6>
								<span class="col-auto">Status: <b th:classappend="${ticket.state == 'Complete' ? 'text-success' : 'text-danger'}">[[*{state}]]</b></span>
							</div>
						</div>
					</div>
				</div>
				<div class="col-auto">
					<div class="card text-center" style="width: 30rem;" th:object="${ticket}">
						<div class="card-header bg-white mb-3">
							<h5>Notes</h5>
						</div>
						<th:block th:if="*{notes.size()} > 0">
							<ul class="col-12 text-start" th:each="note : *{notes}">
								<li><b>Author:</b> [[${note.author}]]</li>
								<li><b>Note:</b> [[${note.text}]]</li>
								<li><b>Created at:</b> [[${note.getDateFormatted()}]]</li>
							</ul>
						</th:block>
						<th:block th:unless="*{notes.size()} > 0">
							<h6> No notes present</h6>
						</th:block>
						<div class="card-footer bg-white text-end"></div>
					</div>
				</div>
			</div>
		</div>
		</div>
	</main>

	<footer>

	</footer>
</body>

<th:block th:replace="~{fragments/page-settings :: scripts}"></th:block>

</html>