<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{fragments/page-settings :: head}"></head>

<body>

	<header th:replace="~{fragments/page-settings :: header('tickets')}">
	</header>

	<main>
		<div class="container">
			<div class="row justify-content-center">
				<h1 class="text-center mb-3">Ticket view</h1>
				<hr>
				<div class="card text-center" th:object="${ticket}">
					<div class="card-header">
						Showing Ticket: #[[*{id}]]
					</div>
					<div class="card-body">
						<h5 class="card-title">[[*{title}]]</h5>
						<p class="card-text">[[*{text}]]</p>
						<th:block th:if="*{notes.size()} > 0">
							<hr>
							<ul th:each="note : *{notes}">
								<li>Author: [[${note.author}]]</li>
								<li>Note: [[${note.text}]]</li>
								<li>Created at: [[${note.createdAt}]]</li>
							</ul>
						</th:block>
						<hr>
						<a th:href="@{/tickets}" class="btn btn-dark">Return to tickets</a>
					</div>
					<div class="card-footer text-muted">
						Created at: [[*{createdAt}]]
					</div>
				</div>
			</div>
		</div>
	</main>

	<footer>

	</footer>
</body>

<th:block th:replace="~{fragments/page-settings :: scripts}"></th:block>

</html>