<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

</body>

<!-- fragments/authentication :: login -->
<div th:fragment="login" class="col-4 row wrap justify-content-center">
	<!--FORM TITLE-->
	<h2 class="col-12 text-center">Please Log in:</h2>
	<!--ERROR ALERT-->
	<div th:if="${class == 'danger'}">
		<div th:replace="~{fragments/page-settings :: alert(${message}, ${class})}"></div>
	</div>
	<!--FORM-->
	<form class="col-auto form-signin" method="POST" th:action="@{/process-login}">
		<div class="form-group">
			<label for="username" class="sr-only">Username</label>
			<input type="text" id="username" name="username" class="form-control" placeholder="Username" required
				autofocus>
		</div>
		<div class="form-group mb-2">
			<label for="password" class="sr-only">Password</label>
			<input type="password" id="password" name="password" class="form-control" placeholder="Password" required>
		</div>
		<button type="submit" class="btn btn-sm btn-dark">Submit</button>
	</form>
</div>


</body>