<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{fragments/page-settings :: head}"></head>

<body>

	<!--HEADER-->
	<header th:replace="~{fragments/page-settings :: header('users')}"></header>

	<!--MAIN-->
	<main>
		<div class="container">
			<div class="row justify-content-center">

				<!--TITLE-->
				<h1 class="text-center mb-3">Tickets List</h1>
				<hr>

				<!--ALERT-->
				<th:block th:if="${message != null}">
					<div th:insert="fragments/page-settings :: ticket-alert(${message},${class})">
					</div>
				</th:block>

				<!--ACTION BAR-->
				<form class="d-flex ms-auto row-wrap mb-3 gap-2" th:action="@{/tickets/search/}" method="get">
					<!--ADD TICKET BUTTON-->
					<a class="col-auto btn btn-dark" th:href="@{/users/create}"
						data-toggle="tooltip" title="Add Ticket">&#43; &#128100;</a>
					<!--SEARCH BAR-->
					<input class="form-control" placeholder="Insert a new user to search..." aria-label="Search"
						value="Search" th:field="${search.username}">
					<button class="btn btn-dark" type="submit">Search</button>
					<a class="col-auto btn btn-dark" th:href="@{/users}" data-toggle="tooltip"
						title="Reset Research">&#10227; Reset</a>
				</form>

				<!--CONDITION TRUE-->
				<th:block th:if="${users.size()} > 0">
					<!--TABLE-->
					<table class="table table-striped table-dark mb-3">
						<!--THEAD-->
						<thead>
							<tr>
								<th scope="col">#</th>
								<th scope="col">Username</th>
								<th scope="col">Password</th>
								<th scope="col">Email</th>
								<th scope="col">Not Available</th>
								<th scope="col">Tickets</th>
								<th scope="col" class="text-end">Actions</th>
							</tr>
						</thead>
						<!--TBODY-->
						<tbody>
							<tr th:each="user : ${users}">
								<th scope="row" th:text="${user.id}"></th>
								<td th:text="${user.username}"></td>
								<td th:text="${user.password}"></td>
								<td th:text="${user.email}"></td>
								<!--switich color-->
								<th:block th:if="${user.notAvailable}">
									<td class="text-danger">Not Available</td>
								</th:block>
								<th:block th:unless="${user.notAvailable}">
									<td class="text-success">Available</td>
								</th:block>
								<td th:text="${user.tickets.size()}"></td>
								<!--ACTION BUTTONS-->
								<td class="text-end">
									<!--DELETE-->
									<form class="d-inline  text-start" method="GET"
										th:action="@{/users/delete/{id}(id=${user.id})}">
										<!-- Button trigger modal -->
										<button type="button" class="btn btn-sm" data-bs-toggle="modal"
											data-bs-target="#staticBackdrop" title="Delete">&#x1F5D1;</button>
										<!-- Modal -->
										<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static"
											data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel"
											aria-hidden="true">
											<div class="modal-dialog modal-dialog-centered modal-sm">
												<div class="modal-content">
													<!-- header -->
													<div class="modal-header bg-dark">
														<h5 class="modal-title fs-5" id="staticBackdropLabel">
															&#x26A0; WARNING &#x26A0;
														</h5>
														<button type="button" class="btn-close" data-bs-dismiss="modal"
															aria-label="Close"></button>
													</div>
													<!-- body -->
													<div class="modal-body text-black">
														Are you shure you want remove "<b>[[${user.username}]]</b>"?
													</div>
													<!-- footer -->
													<div class="modal-footer bg-dark">
														<button type="button" class="btn btn-success"
															data-bs-dismiss="modal">Return</button>
														<button type="submit" class="btn btn-danger">Continue</button>
													</div>
												</div>
											</div>
										</div>
									</form>
								</td>
							</tr>
						</tbody>
					</table>
				</th:block>

				<!--CONDITION FALSE-->
				<th:block th:unless="${users.size()}">
					<h2 class="text-center">No Users Found</b></h2>
				</th:block>

			</div>
		</div>
	</main>

	<!--FOOTER-->
	<footer></footer>

	<!--SCRIPTS-->
	<th:block th:replace="~{fragments/page-settings :: scripts}"></th:block>
</body>

</html>