<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{fragments/page-settings :: head}"></head>

<body>

	<!--HEADER-->
	<header th:replace="~{fragments/page-settings :: header('home')}"></header>

	<main>
		<div class="container">
			<div class="row justify-content-center">

				<!--GUEST-->
				<th:block sec:authorize="!isAuthenticated()">
					<!--TITLE-->
					<h1 class="col-12 text-center">Welcome to Ticket Platform</h1>
					<hr>

					<!--LOGIN FORM-->
					<div th:replace="~{fragments/authentication :: login}"></div>

				</th:block>

				<!--USER-->
				<th:block sec:authorize="isAuthenticated()">

					<!--TITLE-->
					<h1 class="col-12 text-center">Welcome to your Home</h1>
					<hr>

					<!--LOGIN ALERT-->
					<div th:if="${message != null}">
						<div th:replace="~{fragments/page-settings :: login-alert(${message}, ${class})}"></div>
					</div>

					<!--USER DETAILS-->
					<div th:if="${user.username != null}">
						<h3><strong>Username: </strong><span>[[${user.username}]]</span></h3>
						<h3><strong>Email: </strong><span>[[${user.email}]]</span></h3>
						<h3><strong>Role: </strong><span>[[${user.roles.toString()}]]</span></h3>
						<h3 sec:authorize="hasAuthority('USER')">
							<strong>Open Tickets:</strong>
							<span>[[${user.getOpenTickets().size()}]]</span>
						</h3>
						<!-- is available -->
						<h3 sec:authorize="hasAuthority('USER')">
							<strong>Not Available:</strong>
							<!--switich color-->
							<th:block th:if="${user.notAvailable}">
								<span class="text-danger">Not Available</span>
							</th:block>
							<th:block th:unless="${user.notAvailable}">
								<span class="text-success">Available</span>
							</th:block>
							<form th:if="${user.getOpenTickets().size() == 0 && !user.notAvailable}"
								class="form-check form-switch ms-3" th:action="@{/users/changestatus}" method="POST">
								<button type="submit" class="btn btn-sm btn-dark" title="Not Available">Set Not
									Available</button>
							</form>
							<form th:if="${user.notAvailable}" class="form-check form-switch ms-3"
								th:action="@{/users/changestatus}" method="POST">
								<button type="submit" class="btn btn-sm btn-dark" title="Set Available">Set
									Available</button>
							</form>
						</h3>

					</div>

					<!--LOGOUT FORM-->
					<form sec:authorize="isAuthenticated()" class="col-auto form-signin" method="POST"
						th:action="@{/login/logout}">
						<!-- Button trigger modal -->
						<button type="button" class="btn btn-sm btn-dark" data-bs-toggle="modal"
							data-bs-target="#staticBackdrop" title="Delete">Logout</button>
						<!-- Modal -->
						<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false"
							tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
							<div class="modal-dialog modal-dialog-centered modal-sm">
								<div class="modal-content">
									<!-- header -->
									<div class="modal-header bg-dark text-white">
										<h5 class="modal-title fs-5" id="staticBackdropLabel">
											Logging out..
										</h5>
										<button type="button" class="btn-close" data-bs-dismiss="modal"
											aria-label="Close"></button>
									</div>
									<!-- body -->
									<div class="modal-body text-black">
										Are you shure you want log out?
									</div>
									<!-- footer -->
									<div class="modal-footer bg-dark">
										<button type="button" class="btn btn-success"
											data-bs-dismiss="modal">Return</button>
										<button type="submit" class="btn btn-warning">Log out</button>
									</div>
								</div>
							</div>
						</div>
					</form>
				</th:block>

			</div>
		</div>
	</main>

	<footer></footer>

	<!--SCRIPTS-->
	<th:block th:replace="~{fragments/page-settings :: scripts}"></th:block>
</body>

</html>