<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{fragments/page-settings :: head}"></head>

<body>

	<!--HEADER-->
	<header th:replace="~{fragments/page-settings :: header('home')}"></header>

	<main>
		<div class="container">
			<div class="row justify-content-center">

				<!--GUEST-->
				<th:block sec:authorize="!isAuthenticated()">
					<!--TITLE-->
					<h1 class="col-12 text-center">Welcome to Ticket Platform</h1>
					<hr>
					<!--FORM TITLE-->
					<h2 class="col-12 text-center">Please Log in:</h2>
					<!--LOGIN FORM-->
					<form th:replace="~{fragments/authentication :: login}"></form>
				</th:block>

				<!--USER-->
				<th:block sec:authorize="isAuthenticated()">
					<!--TITLE-->
					<h1 class="col-12 text-center">Welcome to your Home</h1>
					<hr>
					<!--LOGOUT FORM-->
					<form class="col-auto form-logout" method="POST" th:action="@{/logout}">
						<button type="submit" class="btn btn-sm btn-dark">Log out</button>
					</form>
				</th:block>

			</div>
		</div>
	</main>

	<footer></footer>
</body>

<!--SCRIPTS-->
<th:block th:replace="~{fragments/page-settings :: scripts}"></th:block>

</html>