main {
	background-repeat: no-repeat;
	background-position: center;
	background-image: linear-gradient(rgb(173, 248, 245), rgb(255, 187, 221));
	min-height: 815px;
	padding-top: 15px;
	padding-bottom: 20px;
}

footer {
	bottom: 0;
	width: 100%;
	height: 50px;
}

.cornerRound {
  border-radius: 6px;
  overflow: hidden;
}