<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{fragments/page-settings :: head}"></head>

<body>

	<header th:replace="~{fragments/page-settings :: header('tickets')}">
	</header>

	<main>

		<div class="container">
			<div class="row justify-content-center">
				<!--TITLE-->
				<h1 class="text-center mb-3">Note Creation</h1>
				<hr>
				<!--NOTE FORM-->
				<form id="ticketform" method="POST" th:action="@{/notes/create}" th:object="${note}"
					style="width: 30rem;">
					<!--HIDDEN FIELDS-->
					<input type="hidden" th:field="*{ticket}"></input>
					<input type="hidden" th:field="*{author}"></input>
					<!--TEXT FIELD-->
					<div class="form-group">
						<label for="ticketText"><b>Insert Text: </b></label>
						<textarea class="form-control my-2" id="ticketText" rows="3" th:field="*{text}"></textarea>
						<ul th:if="${#fields.hasErrors()}" class="text-danger mt-2 ps-4">
							<li th:each="err : ${#fields.errors('text')}" th:text="${err}" class="error" />
						</ul>
					</div>
					<hr>
					<!--BUTTONS-->
					<div>
						<button type="submit" class="btn btn-dark">Submit</button>
						<a th:href="@{/tickets/show/{id}/addnote(id=${note.ticket.id})}" class="btn btn-dark">Reset</a>
					</div>
				</form>
			</div>
		</div>
	</main>

	<footer>
	</footer>
	
	<!--SCRIPTS-->
	<th:block th:replace="~{fragments/page-settings :: scripts}"></th:block>
</body>

</html>